<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="iwmart_apisyncing_checkout_submit_all_after" instance="Iwmart\ApiSyncing\Observer\ProcessAq" />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="iwmart_apisyncing_sales_order_invoice_save_after" instance="Iwmart\ApiSyncing\Observer\AfterSaveProcessAq" />
    </event>
</config>
